<ion-view title="GGC STaRS: Help">
  <ion-content class="padding has-header">
    <div class="container">
      <div class="list card">
        <div class="card-header ggc-green white-text">
          Header Items
        </div>
        <div class="item item-divider text-center">
          <button type="button" class="button btn-outline-success" >
            <i class="fa ion-load-a fa-spin fa-fw"></i>
            Connected
          </button>
        </div>
        <div class="item item-text-wrap item-icon-left">
          <i class="icon ion-information-circled"></i>
            You are connected to the Internet and the database,
            all changes will be promptly submitted.
        </div>
        <div class="item item-divider text-center">
          <button type="button" class="button btn-outline-danger" >
            <i class="fa ion-load-a fa-spin fa-fw"></i>
            Disconnected
          </button>
        </div>
        <div class="item item-text-wrap item-icon-left">
          <i class="icon ion-information-circled"></i>
          You are not connected to the Internet and the database,
          all changes will not be submitted until a connection is found.
        </div>
        <div class="item item-divider text-center">
          <button type="button" class="button btn-outline-primary" >
            <i class="icon fa fa-refresher fa-spin fa-lg fa-fw"></i>
            Changes found tap to refresh
          </button>
        </div>
        <div class="item item-text-wrap item-icon-left">
          <i class="icon ion-information-circled"></i>
          Not necessary, but when tapped, changes made by other users
          will be reflected on the current page.
        </div>
      </div>
      <div class="list card">
        <div class="card-header ggc-green white-text">
          Poster List
        </div>
        <div class="item item-text-wrap item-icon-left">
          <i class="icon ion-information-circled"></i>
          Displays all posters participating in the GGC STaRS event, can be
          sorted by academic subject, or filtered by search input.
        </div>
      </div>
      <div class="list card">
        <div class="card-header ggc-green white-text">
          Individual Poster View
        </div>
        <div class="item item-text-wrap item-icon-left">
          <i class="icon ion-information-circled"></i>
          Survey form for specific poster, all questions are required
          except the addtional comments field.
        </div>
        <div class="item item-text-wrap item-icon-left">
          <i class="icon ion-information-circled"></i>
          Survey forms can be edited after sumbission.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
