<ion-view title="GGC STaRS: Home" ng-controller="homeCtrl">
  <ion-content class="padding has-header">
    <div class="container">
      <div class="card">
        <div class="card-header ggc-green white-text">
          Your Recently Completed Surveys
        </div>
        <div class="card-block">
          <div class="list-group" ng-if="hasRecent" ng-repeat="survey in surveys track by $index">
            <a class="list-group-item-action item item-button-right" ui-sref="tabs.poster({id: survey.groupId})" style="text-decoration: none;">
              <h2>{{survey.groupName}}</h2>
              <button class="button button-positive">
                <i class="icon ion-checkmark-circled"></i>
              </button>
            </a>
          </div>
          <div ng-if="!hasRecent" class="help-block text-center">
            <strong>No recent surveys found.</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
