<ion-view title="GGC STaRS: Login" cache-view="false">
    <ion-content class="padding" class="has-header has-subheader">
      <div class="container">
        <div class="card">
          <div class="card-header ggc-green white-text">
            GGC STaRS Judging App
          </div>
          <div class="card-block">
            <button type="button" class="button button-block btn-green icon-right ion-chevron-right"
              ng-click="launchLoginModal()">Registered Users </button>
            <button type="button" class="button button-block btn-green icon-right ion-chevron-right"
              ng-click="launchRegisterModal()">First-Time Users </button>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
