<ion-view title="Poster" id="poster">
	<ion-content class="padding">
		<div class="list card" ng-repeat="question in poster.questions">
			<div class="item item-divider">
				<p>{{question.information}}: #{{question.id}}</p>
			</div>
			<div ng-hide="{{$index}}===8">
				<ion-list>
					<ion-radio ng-model="question.value" ng-value="1">1</ion-radio>
					<ion-radio ng-model="question.value" ng-value="2">2</ion-radio>
					<ion-radio ng-model="question.value" ng-value="3">3</ion-radio>
					<ion-radio ng-model="question.value" ng-value="4">4</ion-radio>
					<ion-radio ng-model="question.value" ng-value="5">5</ion-radio>
				</ion-list>
			</div>
			<div ng-show="{{$index}}===8">
			   <label class="item item-input item-floating-label">
				   <span class="input-label"t>Comments</span>
				   <input type="text" placeholder="Insert comment in here...">
			   </label>
			</div>
		</div>
	</ion-content>
</ion-view>