<ion-view title="GGC STaRS: Poster">
	<ion-nav-buttons side="left">
		<a class="button back-button buttons button-clear header-item" ui-sref="tabs.posterList">
			<i class="icon ion-chevron-left"></i>Back
		</a>
	</ion-nav-buttons>
	<ion-content class="padding has-header">
		<div class="container">
			<div class="panel panel-primary">
				<div class="list card">
					<div class="item item-icon-left item-text-wrap">
						<i class="icon ion-information-circled"></i>
						<h2>Group Name: {{poster.group}}</h2>
						<p class="subdued">
							Students: {{poster.students | clearText}}
						</p>
					</div>
					<ion-item class="item item-icon-left item-icon-right item-text-wrap">
						<i class="icon ion-ios-people"></i>
						<h2>Number of Submitted Surveys</h2>
						<span class="badge badge-positive">{{countJudges}}</span>
					</ion-item>
					<a class="item item-icon-left item-icon-right item-text-wrap" href="javascript:void(0)" ng-click="showJudges()">
						<i class="icon ion-document-text"></i>
						<h2>Tap to view judges who have submitted surveys on this group.</h2>
						<i class="icon ion-chevron-right"></i>
					</a>
					<div class="item item-icon-left item-text-wrap" ng-show="previousSurveyed">
						<i class="icon ion-alert-circled"></i>
						<h2>You have already submitted a survey for this group! Your submitted survey is shown below.</h2>
					</div>
					<div class="item" ng-hide="!previousSurveyed">
						<button type="button" class="btn btn-warning btn-lg btn-block" ng-hide="disableEdit" ng-click="cancelEdit()">Cancel</button>
						<button type="button" class="btn btn-warning btn-lg btn-block" ng-hide="!disableEdit" ng-click="edit()">Edit Survey</button>
					</div>
				</div>
			</div>
				<form name="questionForm" id="questionForm" ng-submit="submitQuestions(questionForm)">
					<div class="card" ng-repeat="question in questions">
						<div class="card-header ggc-green white-text">
							<div>
								#{{question.id}}: {{question.information}}
							</div>
						</div>
						<div class="card-block">
							<div ng-show="{{$index}}<=9">
								<div class="button-bar padding">
									<a grouped-radio="'1'" ng-model="question.value" id="question.value" name="question{{question.id}}" ng-disabled="disableEdit" >1</a>
									<a grouped-radio="'2'" ng-model="question.value" id="question.value" name="question{{question.id}}" ng-disabled="disableEdit" >2</a>
									<a grouped-radio="'3'" ng-model="question.value" id="question.value" name="question{{question.id}}" ng-disabled="disableEdit" >3</a>
									<a grouped-radio="'4'" ng-model="question.value" id="question.value" name="question{{question.id}}" ng-disabled="disableEdit" >4</a>
									<a grouped-radio="'5'" ng-model="question.value" id="question.value" name="question{{question.id}}" ng-disabled="disableEdit" >5</a>
								</div>
							</div>
							<div ng-show="{{$index}}===10">
								<label class="item item-input item-stacked-label">
									<span class="input-label">Comments</span>
									<textarea rows="5" ng-model="question.value" placeholder="Insert any additional comments here..." ng-disabled="disableEdit" ></textarea>
								</label>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-block">
							<button type="submit" class="btn btn-green btn-lg btn-block" ng-disabled="disableEdit">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>
