<ion-view title="GGC STaRS: Posters">
	<ion-content class="padding has-header">
		<div class="container">
			<div class="card">
				<div class="card-header ggc-green white-text">
					Filters
				</div>
				<div class="card-block">
					<div class="list">
						<div class="md-form">
							<i class="ion-search prefix"></i>
							<input type="text" id="search" class="form-control" ng-model="search.value">
							<label for="search">Search by Student, Poster, Advisor</label>
						</div>
						<ion-item id="sort-divider" class="item-divider item-icon-left item-icon-right" >
							<i class="icon ion-funnel" style="font-size: 14px;"></i>
							<p class="sort-header">Sort by Academic Subject</p>
						</ion-item>
						<div class="list list-accordion" ng-repeat="category in categoryFields" >
						<div class="item-accordion" >
							<label class="item item-icon-left-accordion item-radio" style="border:none">
								<input type="radio" name="group" ng-model="selectedCategory" ng-value="'{{category.subject}}'"
									ng-click="setCategory('{{category.subject}}')">
								<div class="item-content" style="margin-left:0px">
									{{category.subject}} <span class="badge badge-accordian badge-positive">{{category.count}}</span>
								</div>
								<i class="radio-icon ion-checkmark"></i>
							</label>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header ggc-green white-text">
					Select Any of the Following Posters
				</div>
				<div class="card-block">
					<div class="list-group"
						ng-repeat="poster in (posters | customFilter: selectedCategory) | filter: search.value | orderBy: '+countJudges' track by $index">
						<a class="list-group-item list-group-item-action item-icon-right" ui-sref="tabs.poster({id: poster.id})"
							style="text-decoration: none; margin-bottom: 20px;">
							<h2 class="title-poster">{{poster.group}}</h2>
							<div class="list list-accordion one-edge-shadow">
								<div class="item-accordion">
									<div class="item item-icon-left-accordion item-custom-home">
											<i class="fa fa-hashtag fa-fw"></i> <strong>Surveyed: {{poster.countJudges}}</strong>
									</div>
									<div class="item item-icon-left-accordion item-custom-home ellipsis">
											<i class="fa fa-users fa-fw"></i> <strong>Students: {{poster.students | clearText}}</strong>
									</div>
									<div class="item item-icon-left-accordion item-custom-home">
											<i class="fa fa-graduation-cap fa-fw"></i> <strong>Advisor: {{poster.advisor}}</strong>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
