<ion-view title="GGC STaRS: Posters" ng-controller="posterListCtrl">
	<ion-content class="padding has-header">
		<div class="container">
			<div class="card">
				<div class="card-header ggc-green white-text">
					Select Any of the Following Posters
				</div>
				<div class="card-block">
					<div class="list-group" ng-repeat="poster in posters track by $index">
						<a class="list-group-item list-group-item-action item-icon-right" ui-sref="tabs.poster({id: poster.id})" style="text-decoration: none;">
							<h2>{{poster.group}}</h2>
							<p class="subdued">Surveyed: {{poster.countJudges}}</p>
							<p class="subdued ellipsis">
								Students: {{poster.students | clearText}}
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
