<ion-view title="GGC STaRS: Posters" ng-controller="posterListCtrl">
	<ion-content class="padding" has-header="true">
		<div class="container">
			<div class="card">
				<div class="card-header ggc-green white-text">
					Select Any of the Following Posters
				</div>
				<div class="card-block">
					<div class="list-group" ng-repeat="poster in posters track by $index">
						<a class="list-group-item list-group-item-action" ui-sref="tabs.poster({id: poster.id})" style="text-decoration: none;">
							<h2>{{poster.group}}</h2>
							<span class="badge badge-positive">Surveyed: {{poster.countJudges}}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
