<ion-view title="GGC STaRS" id="tabs">
	<ion-tabs class="tabs-icon-top tabs-striped tabs-color-active-ggc" id="tabsController-tabs1">
		<ion-tab title="Login" icon="ion-ios-list" href="#/tabs/login" id="tabsController-tabs2" ng-if="!$root.isAuth">
			<ion-nav-view name="tab2"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Home" icon="ion-ios-home" href="#/tabs/home" id="tabsController-tabs3" ng-if="$root.isAuth">
			<ion-nav-view name="tab3"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Poster List" icon="ion-ios-list" href="#/tabs/posterList" id="tabsController-tabs4" ng-if="$root.isAuth">
			<ion-nav-view name="tab4"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Logout" icon="ion-ios-list" href="#/tabs/logout" id="tabsController-tabs5" ng-if="$root.isAuth">
			<ion-nav-view name="tab5"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>
