<ion-header>
  <ion-toolbar>
    <ion-title>STaRS Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form sign-in">
    <img class="ggclogo" data-ng-src="ggclogo.png">
    <div class="form-container">
        <!-- <h3>STaRS Voting Application</h3> -->
      <label class="login-label">
        <span>Username</span>
        <input type="email" />
      </label>
      <label class="login-label">
        <span>Password</span>
        <input type="password"/>
      </label>
      <ion-button type="button" expand="block" color="ggc-green" class="submit"[routerLink]="['/home']">Sign In</ion-button>
      <button type="button" class="register-button" ng-click="launchRegisterModal()">REGISTER</button>
      <!-- <ion-button [routerLink]="['/home/tabs/tab1']">HOME ROUTE</ion-button> -->
    </div>
  </div>
</ion-content>