.poster-label{
    padding-left:10px;
    color: black;
    font-size: 14px;
}

.poster-list-header{
    font-size: 19px;
}

.radio-group-head{
    font-size: 17px;
}

.poster-card-header{
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.card-content-md {
    padding-bottom: 0;
}

