<ion-header>
  <ion-toolbar color="main-one">
    <ion-title>
      GGC STaRS: Poster
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <!-- <ion-card-header color="ggc-green">
      Filter
    </ion-card-header> -->
    <ion-card-content>
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionChange)="setFilteredItems()"
        placeholder="Search by poster"
      ></ion-searchbar>
      <ion-card>
        <ion-card-content>
        <ion-list>
          <ion-radio-group (ionChange)="onChangeHandler($event)">
            <ion-list-header class="radio-group-head">
              Sort by Academic Subject:
            </ion-list-header>
            <ion-item>
              <ion-label>All</ion-label>
              <ion-radio
                color="main-three"
                slot="end"
                value="all"
                checked
              ></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Biology</ion-label>
              <ion-radio color="main-three" slot="end" value="bio"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Chemistry</ion-label>
              <ion-radio color="main-three" slot="end" value="chem"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Environmental Science</ion-label>
              <ion-radio
                color="main-three"
                slot="end"
                value="psyc"
              ></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Exercise Science</ion-label>
              <ion-radio
                color="main-three"
                slot="end"
                value="exsc"
              ></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>IT</ion-label>
              <ion-radio color="main-three" slot="end" value="itec"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Mathematics</ion-label>
              <ion-radio
                color="main-three"
                slot="end"
                value="mathematics"
              ></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Statistics</ion-label>
              <ion-radio
                color="main-three"
                slot="end"
                value="statistics"
              ></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="poster-list-header" color="main-two">
      Select From The Following Posters
    </ion-card-header>
    <ion-card-content *ngFor="let item of poster" >
      <ion-card [routerLink]= "['/poster-list']">
        <ion-card-content>
          <ion-label class="poster-card-header">{{ item.group }}</ion-label>
          <ion-list>
            <ion-item>
              <ion-icon name="list" color="main-three"></ion-icon>
              <ion-label class="poster-label"> Surveyed: {{ item.countJudges }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="people" color="main-three"></ion-icon>
              <ion-label class="poster-label"> Students: {{ item.students }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="school" color="main-three"></ion-icon>
              <ion-label class="poster-label"> Advisor: {{ item.advisor }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
