.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


.header-one {
  font-size: 25px;
}

.foward-arrow {
  font-size: 30px;
  border-radius: 100px;
  background: #00704a;
  color: white;
}

.card-padding {
  padding: 10px;
}