<ion-header>
  <ion-toolbar color="ggc-green">
    <ion-title>
      GGC STaRS: Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align="center">
  <ion-card>
    <ion-card-header class="header-one">
      Start Judging
    </ion-card-header>
    <ion-card-content>
      <ion-button shape="round" color="ggc-green" class="green-button" [routerLink]="['/home/tabs/tab2']">
        <ion-icon class="foward-arrow" name="md-arrow-forward"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="ggc-green">
      <ion-card-title>Changes To Be Synced</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-padding">
      No Changes to Be Synced
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="ggc-green">
      <ion-card-title>Completed Surveys</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-padding">
      No Completed Surveys
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header class="header-one">
      Submit APP Feedback
    </ion-card-header>
    <ion-card-content>
      <ion-button shape="round" color="ggc-green" class="green-button" onclick="window.open('https://goo.gl/forms/F23qNHpDLftFDoQ33', '_blank')">
        <ion-icon class="foward-arrow" name="paper"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>