<ion-header>
  <ion-toolbar color="main-one">
    <ion-title>
      <ion-text>GGC STaRS: Home</ion-text>
      <ion-chip color="main-inverted" class="user-icon">
            <ion-icon name="contact"></ion-icon>
        <ion-label>{{currentUser}}</ion-label>
      </ion-chip>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align="center">
  <ion-card>
    <ion-card-header class="header-one">
      <div class="card-flex">
        Start Judging
        <ion-icon color="main-one" class="foward-arrow" name="list"></ion-icon>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-button shape="round" color="main-three" class="green-button" [routerLink]="['/home/tabs/tab2']">
        <ion-icon color="ggc-inverted" class="foward-arrow" name="md-arrow-forward"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="main-two">
      <ion-card-title>Changes To Be Synced</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-padding">
      No Changes to Be Synced
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="main-two">
      <ion-card-title>Completed Surveys</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-padding">
      No Completed Surveys
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="header-one">
      <div class="card-flex">
        Submit Feedback
        <ion-icon color="main-one" class="foward-arrow" name="paper"></ion-icon>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-button shape="round" color="main-three" class="green-button"
        onclick="window.open('https://goo.gl/forms/F23qNHpDLftFDoQ33', '_blank')">
        <ion-icon color="ggc-inverted" class="foward-arrow" name="md-arrow-forward"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <!-- <ion-button (click)="testMethod()">TEST</ion-button> -->
</ion-content>