<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align="center">
  <ion-card>
    <ion-card-header class="header-one">
      Start Judging
    </ion-card-header>
    <ion-card-content>
      <ion-button shape="round" color="ggc-green" class="green-button" [routerLink]="['/home/tabs/tab2']">
        <ion-icon class="foward-arrow" name="md-arrow-forward"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>