<ion-header>
  <ion-toolbar color="ggc-green">
    <ion-title>
      GGC STaRS: Help
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="ggc-green">
      <ion-card-title>Home Tab</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-padding">
      <ul> 
        <li>Provides route to poster list</li> 
        <li>Offers ist of changes that need to be synced</li>
        <li>List of surveys that have been completed</li>  
        <li>Provides ability to submit feedback for the STaRS Judging App</li>
    </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="ggc-green">
      <ion-card-title>Poster List Tab</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-padding">
    <ul>
      <li>Provides a list of Academic Concentrations to select</li> 
      <li>Provides a search bar to find posters by title</li>  
    </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header color="ggc-green">
        <ion-card-title>Logout Tab</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-padding">
      <ul>
        <li>Provides ability to log out from App</li>  
      </ul>
      </ion-card-content>
    </ion-card>
</ion-content>
