<ion-header>
  <ion-toolbar color="main-one">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-text>GGC STaRS: Poster</ion-text>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon
            name="information-circle"
            color="main-three"
            slot="start"
            size="large"
          ></ion-icon>
          <ion-label>
            Title: {{loadedPoster.group}}<br />
            Advisor: {{loadedPoster.advisor}}<br />
            Students: {{loadedPoster.students}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon
            name="people"
            color="main-three"
            slot="start"
            size="large"
          ></ion-icon>
          <ion-label>Numbers of surveys: </ion-label>
          <ion-badge class="survey_badge" slot="end" color="main-three"
            >{{loadedPoster.countJudges}}</ion-badge
          >
        </ion-item>
        <ion-item>
          <ion-icon
            name="document"
            color="main-three"
            slot="start"
            size="large"
          ></ion-icon>
          <ion-text
            >Tap to view judges who have submitted surveys on this
            group</ion-text
          >
          <a (click)="showJudges()" class="alert_button"><ion-icon name="arrow-dropright" slot="end" size="large" color="main-three"></ion-icon></a>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let survey of surveyQuestions">
    <ion-card-header class="rating-card-header" color="main-two">
      <ion-label>#{{survey.id}}: {{survey.information}} </ion-label>
      <!-- <button ion-button clear icon-only (click)="showAlert(survey.id)"><ion-icon name="information-circle-outline" size="large" color="main-three" class="segment_icon"></ion-icon></button>  -->
      <a (click)="showInfo(survey.id)"><ion-icon name="information-circle" size="large" color="main-inverted" class="segment_icon"></ion-icon></a>
    </ion-card-header>
    <ion-card-content (ionChange)="radioSelect($event, survey.id)">
      <ion-segment mode="ios" class="segment" *ngIf="survey.id < 7">
        <ion-segment-button mode="ios" class="segment" value="1">
          <ion-label>1</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" class="segment" value="2">
          <ion-label>2</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" class="segment" value="3">
          <ion-label>3</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" class="segment" value="4">
          <ion-label>4</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" class="segment" value="5">
          <ion-label>5</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-item class="rating-container" lines="none" *ngIf="survey.id < 7">
        <ion-label class="rating-value"><em>{{survey.wordValue}}</em></ion-label>
      </ion-item>
      <ion-item *ngIf="survey.id > 6">
        <ion-textarea placeholder="Please insert additional comments here."></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="onSubmit()" expand="block" type="submit" color="main-three"
    >Submit</ion-button
  >
</ion-content>
