/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-color-ggc-green: #00704a;
  --ion-color-ggc-green-rgb: 0, 112, 74;
  --ion-color-ggc-green-contrast: #ffffff;
  --ion-color-ggc-green-contrast-rgb: 255, 255, 255;
  --ion-color-ggc-green-shade: #006341;
  --ion-color-ggc-green-tint: #1a7e5c;
}

.ion-color-ggc-green {
  --ion-color-base: var(--ion-color-ggc-green);
  --ion-color-base-rgb: var(--ion-color-ggc-green-rgb);
  --ion-color-contrast: var(--ion-color-ggc-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ggc-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-ggc-green-shade);
  --ion-color-tint: var(--ion-color-ggc-green-tint);
}

:root {
  --ion-color-ggc-inverted: #ffffff;
  --ion-color-ggc-inverted-rgb: 255, 255, 255;
  --ion-color-ggc-inverted-contrast: #00704a;
  --ion-color-ggc-inverted-contrast-rgb: 0, 0, 0;
  --ion-color-ggc-inverted-shade: #e0e0e0;
  --ion-color-ggc-inverted-tint: #ffffff;
}

.ion-color-ggc-inverted {
  --ion-color-base: var(--ion-color-ggc-inverted);
  --ion-color-base-rgb: var(--ion-color-ggc-inverted-rgb);
  --ion-color-contrast: var(--ion-color-ggc-inverted-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ggc-inverted-contrast-rgb);
  --ion-color-shade: var(--ion-color-ggc-inverted-shade);
  --ion-color-tint: var(--ion-color-ggc-inverted-tint);
}

.ggclogo {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  padding-top: 30px;
}

.icon-color {
  color: #00704a !important;
  text-align: center;
}

.alert-box {
  text-align: center;
}