ion-tabs.tabs-color-active-ggc .tab-item {
	border-color: #fff !important;
  	color: #a5acb0;
}
ion-tabs.tabs-color-active-ggc .tab-item.tab-item-active, ion-tabs.tabs-color-active-ggc .tab-item.active, ion-tabs.tabs-color-active-ggc .tab-item.activated {
    color: #fff; 
}
.tabs {
	background-color: #00704a !important;
}
.button.button-positive {
  border-color: transparent;
  background-color: #00704a;
  color: #fff; 
}
* {
	font-family: 'Ubuntu Condensed', sans-serif !important;
}