@font-face {
  font-family: 'fontawesome';
  src:url('../lib/font-awesome/fonts/fontawesome-webfont.eot');
  src:url('../lib/font-awesome/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
  url('../lib/font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
  url('../lib/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'),
  url('../lib/font-awesome/fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa-hashtag:before {
  font-family: "fontawesome";
  content: "\f292";
}
.fa-graduation-cap:before {
  font-family: "fontawesome";
  content: "\f19d";
}
.fa-users:before {
  font-family: "fontawesome";
  content: "\f0c0";
}
.fa-spinner:before {
  font-family: "fontawesome";
  content: "\f110";
}
.fa-refresher:before {
  font-family: "fontawesome";
  content: "\f021";
}
.fa-check-circle-o:before {
  font-family: "fontawesome";
  content: "\f05d"
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon-green {
  color: #00704a;
}
.bar-header {
  border-bottom: 2px solid #00704a;
}
.card-block p {
  margin-bottom: 0px !important;
}
* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.btn-outline-danger:active, .btn-outline-danger.activated {
  border: 2px solid #ff4444 !important;
  color: #CC0000 !important;
  background-color: #fff !important;
}
.btn-outline-success:active, .btn-outline-success.activated {
  border: 2px solid #00C851 !important;
  color: #007E33 !important;
  background-color: #fff !important;
}
.btn-outline-primary {
  border: 2px solid #4285F4;
  color: #0d47a1 !important;
  background-color: #fff !important;
}
.btn-outline-danger, .btn-outline-primary, .btn-outline-success {
  background-color: #fff !important;
}
.has-header {
  padding-top: 10px;
}
.title {
  font-weight: bold !important;
  text-align: left !important;
}
ion-tabs.tabs-color-active-ggc .tab-item {
  border-color: #fff !important;
  color: #a5acb0 !important;
}
ion-tabs.tabs-color-active-ggc .tab-item.tab-item-active,
ion-tabs.tabs-color-active-ggc .tab-item.active,
ion-tabs.tabs-color-active-ggc .tab-item.activated {
  color: #fff !important;
}
.button.button-positive.activated {
  background-color: #00704a !important;
}
.button.button-positive {
  border-color: transparent;
  background-color: #00704a;
  color: #fff;
}
.button-clear {
  color: #fff !important;
}
.row-bar {
  border-bottom: 0px !important;
  border-top: 0px !important;
}
.button-bar {
  width: 100% !important;
}
.button-bar > .button{
  border: 1px solid #cfcfcf;
}
.button-bar > .button:last-child {
  border-radius: 0px 20px 20px 0px !important;
}
.button-bar > .button:first-child {
  border-radius: 20px 0px 0px 20px !important;
  padding-left: 5px;
}
.item-radio {
  border-top:0px !important;
  border-bottom:0px !important;
}
.ggc-green, .bar-stable, .btn-green, .tabs, .badge-positive {
  background-color: #00704a !important;
}
header {
  padding-bottom: 10px;
}
.footer {
  background-color: #ECEEEF !important;
}
.card-header {
  font-size: 14px;
  text-align: center;
}
.title, ion-header-bar > button  {
  color: #ffffff !important;
}
.badge-positive, .inline {
  display: inline-block !important;
  vertical-align: middle !important;
}
.card-primary {
  border-left-color: #00704a !important;
}
.panel {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #fff;
}
.panel:last-child {
  margin-bottom: 0px;
}
.panel h4 {
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom:1px solid #ccc;
  padding-bottom: 10px;
}
.panel-primary {
  border-left-color: #00704a;
}
.panel-primary h4 {
  color: #00704a;
}
.ng-hide.ng-hide-animate {
  display: none !important;
}
.btn-info {
  color: #000;
  background-color: inherit;
}
.card-header {
  font-weight: bold;
}
.bar-default {
  background-color: #a5acb0 !important;
}
.bar-subheader.subheader_custom {
  display: block;
  height: 26px;
  top: 44px;
}
.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #fff;
  fill: #fff;
}

.item-radio input ~ .radio-icon {
    visibility: visible !important;
}

.item-radio > .radio-icon:before {
    content: "\f3a6" !important; /*deselected - Ionic class = ion-android-radio-button-off */
}

.item-radio > input[type=radio]:checked ~ .radio-icon:before {
    content: "\f3a7" !important; /*selected Ionic class = ion-android-radio-button-on */
}
.badge-accordian {
  top: 6px !important;
}
.button-bar > a {
  font-size: 8px;
  white-space: normal !important;
  font-weight: bolder;
}
.button-bar > .button {
  padding: 0px !important;
}
.bar-btn {
  line-height: 14px !important;
}
.item-accordion {
  border-top: 3px solid #ccc;
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.item-icon-left-accordion .item-content {
  padding-left:3em !important;
  padding-top:5px !important;
  padding-bottom:5px !important;
  background-color: white !important;
}

.item-icon-left-accordion i {
  left:0;
  padding-top:2px !important;
  padding-bottom:5px !important;
  right: auto;
  color: #00704a !important;
  font-size: 20px !important;
}
.item.item-accordion.ng-hide {
  line-height: 0px;
}
.list-accordion {
  margin-bottom: 0px !important;
}
.item-custom-home {
  padding: 3px;
  border-bottom: 0px solid #ccc;
  font-size: 13px;
  line-height: 24px !important;
}
.list-accordion, .item-custom-home {

}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	   -moz-box-shadow: 0 8px 6px -6px #ccc;
	        box-shadow: 0 8px 6px -6px #ccc;
}
.list-accordion:last-child {
  border-bottom: 3px solid #ccc;
}
.item-divider, .item-divider:active {
  background-color: #00704a !important;
  color: #fff !important;
}
